.button {
    background: linear-gradient(135deg, #153184, #153184);
    border: none;
    color: #fff;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(25, 67, 218, 0.3);
    transition: all 0.3s ease-in-out;
    font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
}

@media (min-width: 1080px) {
    .chatbotToggle {
        bottom: 12%;
    }
    .chatWindow {
        bottom: 9rem;
    }
}

.chatbotToggle {
    position: fixed;
    bottom: 12%;
    right: 5%;
    z-index: 1000;
}

.button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #4169e1, #e9f5f8);
}

.chatWindow {
    height: 32rem;
    position: fixed;
    bottom: 11rem;
    right: 2rem;
    width: 22rem;
    max-height: 70%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    z-index: 1001;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
}

.chatHeader {
    /* background: linear-gradient(90deg, #1943da, #e9f5f8); */
    background-color: #1943da;
    color: white;
    padding: 0.6rem;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}

.chatBody {
    font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
    flex: 1;
    padding: 0.6rem;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: max-content;
}

.botMessage {
    background-color: #e9f5f8;
    color: #4e342e;
    padding: 0.6rem 0.8rem;
    border-radius: 16px 16px 16px 4px;
    min-width: 3rem;
    max-width: 80%;
    font-size: 0.9rem;
    align-self: flex-start;
    height: max-content;
    box-shadow: 0 3px 6px rgba(255, 167, 38, 0.15);
}

.typingIndicator {
    height: 0.3rem;
    width: 0.3rem;
    overflow: auto;
    position: relative;
    margin: 6px 0 0 4px;
}

.userMessage {
    font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
    background-color: #1943da;
    color: white;
    padding: 0.6rem 0.8rem;
    border-radius: 16px 16px 4px 16px;
    max-width: 75%;
    font-size: 0.9rem;
    align-self: flex-end;
    box-shadow: 0 3px 6px rgba(255, 193, 7, 0.2);
}

.chatInputArea {
    display: flex;
    border-top: 1px solid #eee;
    padding: 0.6rem;
    background-color: #1943da;
    gap: 0.6rem;
}

.chatInput {
    font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
    flex: 1;
    border: 1px solid #1943da;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
    background-color: white;
}

.chatInput:focus {
    border-color: #1943da;
}

.sendButton {
    font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
    background-color: #1943da;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sendButton:hover {
    background-color: #4169e1;
}

.dotFlashing {
    position: relative;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: #4169e1;
    color: #1943da;
    animation: dotFlashing 1s infinite linear;
    box-shadow: 8px 0 0 0 #1943da, 16px 0 0 0 #1943da;
}

.feedbackButtons {
    position: relative;
    left: 2%;
    margin-top: 0.7rem;
    display: flex;
    gap: 0.6rem;
    font-size: 0.5rem;
}

.thumb {
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease, color 0.3s ease;
    color: #4169e1;
    font-size: 0.5rem;
    /* yellow */
}

.thumb:hover {
    transform: scale(1.2);
    color: #4169e1;
    /* orange */
}

@keyframes dotFlashing {
    0% {
        box-shadow: 8px 0 0 0 #4169e1, 16px 0 0 0 #4169e1;
    }
    25% {
        box-shadow: 8px 0 0 4px #4169e1, 16px 0 0 0 #4169e1;
    }
    50% {
        box-shadow: 8px 0 0 0 #4169e1, 16px 0 0 4px #4169e1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.chatWindow {
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    height: max-content;
}

.chatWindowActive {
    opacity: 1;
    pointer-events: auto;
    animation: fadeInUp 0.4s ease forwards;
    height: 100rem;
    max-height: 70%;
}

.chatBubble {
    background: linear-gradient(135deg, #153184, #e9f5f8);
    color: #fff;
    position: fixed;
    bottom: 12rem;
    right: 5rem;
    width: 10rem;
    height: 8rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

.chatBubble::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #153184;
    border-bottom: 0;
    margin-left: -5px;
    margin-top: -1px;
    /* background: linear-gradient(135deg, #f9a825, #ffcc80); */
}

.closeBtn {
    background: transparent;
    position: absolute;
    left: 94%;
    top: 4.0%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    font-size: 1.0rem;
    color: white;
}

.chatbotIcon {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    z-index: 10000;
    /* background-color: #ffcc80; */
    background: linear-gradient(135deg, #153184, #e9f5f8);
    border-radius: 50%;
    /* Makes it a circle */
    cursor: pointer;
}

.chatbotIcon img {
    width: 3.0rem;
    height: 3.0rem;
    object-fit: contain;
}

.suggestedPrompts {
    width: 20rem;
    background-color: #e9f5f8;
    border-radius: 20px;
    border-top: 1px solid #ddd;
    text-align: left;
}

.promptButtons {
    margin-bottom: 1rem;
    margin-left: 8px;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.promptButton {
    text-align: left;
    width: 17rem;
    background-color: #e9f5f6;
    border: 1px solid rgba(32, 117, 136, 0.2);
    padding: 6px 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;
}

.promptButton:hover {
    background-color: #d0e0ff;
}

.introBubble {
    position: absolute;
    bottom: 6.5rem;
    right: 0;
    background-color: #ffffff;
    color: #333;
    border-radius: 12px;
    padding: 10px 14px;
    font-size: 14px;
    max-width: 240px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    border: 1px solid #e0e0e0;
    animation: fadeInOut 4s ease-in-out;
    font-family: "Segoe UI", "Roboto", sans-serif;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.wave {
    display: inline-block;
    animation: waveAnim 2s infinite;
    transform-origin: 70% 70%;
}

@keyframes waveAnim {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(14deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}