.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin: 1rem 1rem 0;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 0.75rem;
    cursor: pointer;
    font-weight: 500;
    color: #999;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.tab.active {
    color: #111;
    border-bottom: 2px solid #1e2d64;
}